/**************************/
/*** <colors> ***/
$black: #000;
$white: #fff;
$primary: #6656e0;

$caution: #EEAA10;
$success: #8FD694;
$error: #F64740;
/*** </colors> ***/
/**************************/


/**************************/
/*** <other variables> ***/
$fontSizeRoot: 16px;
$borderRadius: 10px;
$mainFontFamily: 'Roboto', sans-serif;
$accentFontFamily: 'Crimson Pro', serif;
$transition: all 0.3s ease;
/*** </other variables> ***/
/**************************/